@media screen  and (min-width:996px){
#logger{
    
    #row1{
  height:100vh;
width:100vw;
  background-image: url('https://i.ibb.co/wwRvd3C/9-V9-Ndoa7-G7a6r-GPOhp-oz-Wq0-WA8jyj4xl-Ozt-EZz-y-JIh30jw-Np-QSzbre-Qmrgf-HQQ-w1200-h630-p.png');
  background-repeat: no-repeat;
  background-size: cover;
    }
  text-align: left;
font-family: 'Noto Sans', sans-serif;

  #div{
      margin-top:30vh;
      margin-left:10%;
      h1{
          font-size:3em;
          color:white;

          span{
              color: #1DDAF2;

          }
      }
      h2{
          font-size:5em;
          font-family: 'Montserrat', sans-serif;
          color:white;
          
      }
  }

  #row2{
      
    height:100vh;
    width:100vw;
      background-image: url('https://i.ibb.co/fHSj7tS/k-Z5y029nc-Zjbk-OZDo-QIh-BOKgdx-LGy-Py-Ekxkt-DUox-Mnjf-Hc-OBOc5-FVw-LVu-Ncuc-AVy-G8-E-w1200-h630-p.png');
      background-repeat: no-repeat;
      background-size: cover;
      text-align: left;
      font-family: 'Noto Sans', sans-serif;
      


  }

  #div2{
      margin-top:30vh;
margin-left:10%;
width:80%;

      h1{
          font-size:3em;
          color:black;
          font-weight: bolder;
      }

      p{
        font-weight: 400;
      
          font-size:1.2em;
      }
  }
}

}


@media screen  and (min-width:576px) and (max-width:996px){
    #logger{
        
        #row1{
      height:100vh;
    width:100vw;
    background-image: url('https://i.ibb.co/YjXqcHx/d24r-Id-YNr-Xhks-VGu13-K3u0dd-J4-HG72-Q-h-Tefhh-AB06-F7-UU8-NETAHIIZW3-Xj-Rymq0w-U-w1200-h630-p.png');
    background-repeat: no-repeat;
      background-size: cover;
        }
      text-align: left;
    font-family: 'Noto Sans', sans-serif;
    
      #div{
          margin-top:30vh;
          margin-left:3%;
          h1{
              font-size:2em;
              color:white;
    
              span{
                  color: #1DDAF2;
    
              }
          }
          h2{
              font-size:3.3em;
              font-family: 'Montserrat', sans-serif;
              color:white;
              
          }
      }


      #row2{
      
        height:100vh;
        width:100vw;
          background-image: url('https://i.ibb.co/fHSj7tS/k-Z5y029nc-Zjbk-OZDo-QIh-BOKgdx-LGy-Py-Ekxkt-DUox-Mnjf-Hc-OBOc5-FVw-LVu-Ncuc-AVy-G8-E-w1200-h630-p.png');
          background-repeat: no-repeat;
          background-size: cover;
          text-align: left;
          font-family: 'Noto Sans', sans-serif;
          
    
    
      }
    
      #div2{
          margin-top:20vh;
    margin-left:10%;
    width:90%;

          h1{
              font-size:2em;
              color:black;
              font-weight: bolder;
          }
    
          p{
            font-weight: 400;
          
              font-size:1em;
          }
      }




    }
    
    }


@media screen  and (max-width:576px){
    #logger{
        
        #row1{
      height:100vh;
    width:100vw;
      background-image: url('ss.png');
      background-repeat: no-repeat;
      background-size: cover;
        }
      text-align: left;
    font-family: 'Noto Sans', sans-serif;
    ;
      #div{
          margin-top:15vh;
          margin-left:3%;
          h1{
              font-size:2em;
              color:white;
    
              span{
                  color: #1DDAF2;
    
              }
          }
          h2{
              font-size:3.3em;
              font-family: 'Montserrat', sans-serif;
              color:white;
              
          }
      }



      #row2{
      
        height:100vh;
        width:100vw;
          background-image: url('./row2mobile.png');
          background-repeat: no-repeat;
          background-size: cover;
          text-align: left;
          font-family: 'Noto Sans', sans-serif;
          
    
    
      }
    
      #div2{
          margin-top:15vh;
    margin-left:5%;
    width:95%;

          h1{
              font-size:1.8em;
              color:black;
              font-weight: bolder;
          }
    
          p{
            font-weight: 400;
          
              font-size:1em;
          }
      }



    }
    
    }